.login {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	background-color: #d7eafa;
}

.title {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 20px;
}
